
.work-sans-normal{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* nav style */
nav{
    display: flex;
}
.nav-title{
    font-weight:800;
    font-size: 45px;
}